/* En este archivo de css encontraras estilos especificos separados para cada seccion */


/* Estilos generales del sitio */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {

    font-family: 'Raleway';

}

/* Estilos del header */

#header_input_busqueda {

    border-radius: 1.25rem;
    width: 22rem;
    height: 2.5rem;
    background: url(../assets/lupa.svg);
    background-color: #F5F5F5;
    background-repeat: no-repeat;
    background-position: right center;
    background-position-x: 92%;
    background-size: 1.25rem;
    outline: none;

}

#header_boton_login {

    width: 11rem;

}

/* Estilos del footer */

footer {

    background-color: #EAF2FD;

}

/* Estilos del hero */

#hero {

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url("../assets/hero.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 20rem;
    width: 100%;

}

/* Estilos del login */

#login {
    background-color: #E5E5E5;
}